name: Deploy to Production
on:
  push:
    branches:
      - main

jobs:
  deploy-server:
    name: Deploy Server to DOCKER HUB
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/ai-hub-server
      TAG: ${{ github.sha }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Build Docker Image
        run: docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$TAG ./server

      - name: Login to Docker HUB
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push images to Docker Hub
        run: |
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.sha }}

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull $IMAGE_NAME:latest
            docker stop ai-hub-container || true && docker rm ai-hub-container || true
            docker run -d --name ai-hub-container -p 80:3000 $IMAGE_NAME:latest