name: Deploy to Production
on:
  push:
    branches:
      - main

jobs:
  deploy-server:
    name: Deploy Server to DOCKER HUB
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Build Docker Image
        env:
          IMAGE_NAME: ai-hub-server
          TAG: ${{ github.sha }}
        run: docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$TAG ./server

      - name: Login to Docker HUB
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push images to Docker Hub
        run: |
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.sha }}
